@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(../assets/fonts/Quicksand-Medium.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-ExtraBoldItalic.ttf);
}

* {
  color: #2d3748;
  font-family: Quicksand;
}

/* TEMPLATE */

.bg-brand {
  background-color: #29bb89;
}

.bg-basic {
  background-color: #2d3748;
}

.text-brand {
  color: #29bb89;
}

.text-basic {
  color: #2d3748;
}

.border-brand {
  border-color: #29bb89;
}

/* HEADER */

.navbar-brand {
  font-family: Montserrat;
  font-size: 2em;
}

.navbar-nav a {
  font-family: Quicksand;
  letter-spacing: 0.08em;
}

/* MAIN */

#search-input {
  background-color: #e9ebee;
}

#search-submit {
  z-index: 5;
  right: 1.4em;
  top: 0.2em;
  background-color: none;
}

category-list category-item li p {
  transition: all 0.4s;
}

category-list category-item li p:hover {
  font-size: 1.2em;
}

product-list {
  background-color: #eff4f8;
}

product-list .card {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.text-banner h2 {
  font-family: Poppins;
  font-size: 3.2em;
  letter-spacing: 0.4em;
}

.banner {
  height: 22em;
  width: 100%;
  background-color: #4ad8a6;
}
